doctype html
html(lang='en')
  head
    title Dealer Instincts Build System
    link(href='css/ui.css', rel='stylesheet')

  body
    nav.navbar-default.navbar-fixed-top.navbar-inverse
      .container
        p.navbar-text.pull-left
          img(src='/img/logo.svg', height='20', width='140')
          |  &nbsp; Build System
        .navbar-form.pull-right
          a#force-refresh.btn.btn-primary.btn-sm(href='#')
            span.fa.fa-icon-only.fa-fw.fa-refresh
            |  Force Refresh

    .container

      .col-xs-12.col-md-5.pull-right
        form.panel.panel-default(name='deployment', action='/deploy', method='post')
          .panel-heading
            span.fa.fa-icon-only.fa-fw.fa-cloud-upload
            |  Deploy a build

          if tags && tags.length
            .panel-body Choose a revision below to be deployed automatically:
          #tags.list-group
            if tags && tags.length
              select#branch(name='branch')
                each tag, i in tags
                    option(value=tag.name, selected=i === 0 ? 'selected' : null)
                      | #{tag.name}
                  option(value='dev', selected)
                    | dev
                  option(value='master')
                    | master
            else
              label.list-group-item.small.list-group-item-warning Couldn't grab any tags. Please try again later.

          if tags && tags.length
            .panel-body Choose at which time tomorrow (local time) it should be deployed:
            .list-group
              label.list-group-item.small(for='12am') 
                input#12am(type='radio', name='time', value='0')
                |  12 AM
              label.list-group-item.small(for='2am') 
                input#2am(type='radio', name='time', value='2')
                |  2 AM
              label.list-group-item.small(for='4am') 
                input#4am(type='radio', name='time', value='4')
                |  4 AM
              label.list-group-item.small(for='now') 
                input#now(type='radio', name='time', value='now', checked)
                |  Now

            .panel-body Choose which environment should be deployed:
            #environment-deployment.list-group
              label.list-group-item.small(for='environment-staging') 
                input(id='environment-staging', type='checkbox', name='environments[]', value='staging', checked)
                .color-block(style='background-color: #2D72B8;')
                span  Staging

              label.list-group-item.small(for='environment-demo') 
                input(id='environment-demo', type='checkbox', name='environments[]', value='demo')
                .color-block(style='background-color: #B8852E;')
                span  Demo

              label.list-group-item.small(for='environment-production') 
                input(id='environment-production', type='checkbox', name='environments[]', value='production')
                .color-block(style='background-color: #BA4132;')
                span  Production

            .panel-footer
              button.btn.btn-success.pull-right(type='submit')
                span.fa.fa-icon-only.fa-fw.fa-cloud-upload
                |  Submit
              .clearfix

      .col-xs-12.col-md-7.pull-left
        #actions-loading.loading
          .loader
            span.fa.fa-icon-only.fa-fw.fa-spinner.fa-spin
          .panel.panel-default
            .panel-heading
              span.fa.fa-icon-only.fa-fw.fa-cogs
              |  Current Actions
              a#clear-actions.btn.btn-primary.btn-xs.pull-right(href='#')
                span.fa.fa-icon-only.fa-fw.fa-times
                |  Clear completed actions
            ul#actions.list-group

      .col-xs-12.col-md-7.pull-left
        #stacks-loading.loading
          .loader
            span.fa.fa-icon-only.fa-fw.fa-spinner.fa-spin
          .panel.panel-default
            .panel-heading
              span.fa.fa-icon-only.fa-fw.fa-tasks
              |  Stacks
            .panel-body
              | Below you will find the the managed stacks and their status for their last deployment. You can click on them to see their last deployment's log.
            #stacks.list-group
            .panel-body.empty
              .label.label-danger No stacks defined

      .col-xs-12.col-md-7.pull-left
        #deployments-loading.loading
          .loader
            span.fa.fa-icon-only.fa-fw.fa-spinner.fa-spin
          .panel.panel-default
            .panel-heading
              span.fa.fa-icon-only.fa-fw.fa-clock-o
              |  Scheduled Deployments
              .empty.label.label-primary.pull-right No deployments scheduled
            table#deployments.table.table-striped
              thead
                tr
                  th Environment
                  th Branch
                  th.text-center Mobile
                  th Scheduled For
                  th
              tbody

    #footer.navbar
      .container
        small.navbar-text &copy; 2014 Dealer Instincts. For internal use only.

    script(type='text/javascript', src='js/vendors/jquery.js')
    script(type='text/javascript', src='js/ui.js')